{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <h2>Dealer</h2>
            <p class="border border-danger">
                <img src="/static/images/card54.png" class="rounded" width="100">
            </p>
        </div>
        <div class="col-lg-6">
            <h2>Board</h2>
            <p class="border border-warning">
                <img src="/static/images/card1.png" class="rounded" width="100">
                <img src="/static/images/card2.png" class="rounded" width="100">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Player1</h2>
            <img src="/static/images/card14.png" class="rounded" width="100">
            <img src="/static/images/card28.png" class="rounded" width="100">
        </div>
        <div class="col">
            <h2>Player2</h2>
            <img src="/static/images/card52.png" class="rounded" width="100">
            <img src="/static/images/card33.png" class="rounded" width="100">
        </div>
        <div class="col">
            <h2>Player3</h2>
            <img src="/static/images/card41.png" class="rounded" width="100">
            <img src="/static/images/card13.png" class="rounded" width="100">
        </div>
    </div>
</div>

{% endblock %}
